<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledgement</title>
</head>

<body style="background-image: url( {% static 'img/hero_2.jpg' %} ) ">
    <div style="text-align: center; color:azure;">

    <h1 style="font-size: 70px;">Thank you {{name}} for choosing our Restaurant </h1>
    <br/>
    <h2 style="font-size: 50px;">We will contact you on the mobile {{phone}} for further details.</h2>
    <br/>
    
    
    <h2 style="font-size: 70px;">OUR  WARM WELCOME TO YOU </h2>

    </div>
</body>
</html>