<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledgement</title>
</head>

<body style="background-image: url({% static 'img/hero_2.jpg' %})">
    <div style="text-align: center; color:azure;">

    <h1 style="font-size: 70px;">Your information is saved !!!!!!!</h1>
    <br/>
    <h2 style="font-size: 70px;">We will arrange food for you on time!!!!!.</h2>
    

    </div>
</body>
</html>